{% include 'header.twig' %}
<h1>Reviews</h1>
<div class="row">
	{% for review in podcastReviews %}
		<div class="col-md-12">
			<p>
				<strong>lang:</strong> {{review.locale}}
				<br/>
				<strong>author:</strong> {{review.author.name.label}}
				<br/>
				<strong>rating:</strong> {{review['im:rating'].label}}
				<br/>
				<strong>title:</strong> {{review.title.label}}
				<br/>
				{{review.content.label}}
			</p>
		</div>					
	{% endfor %}
</div>
{% include 'footer.twig' %}